<!-- Start Footer -->
    <footer class="footer">
        <div class="hero">
            <div class="mask-dark"></div>
            <div class="about_title_box">
                <ul class="about_ul">
                    <div class="about_title">公司介紹</div>
                    <div class="about_title_EN">About</div>
                </ul>
            </div>
            <div class="about_content_box">
                <p class="about_content_text">
                    ABA威森國際是UNIVERSAL ROBOTS世界領先的協作型機器人合格授權 東北亞一級原廠認證設備整合商以及東南亞一級經銷商
                    <br>
                    我們提供的服務主要分為六軸協作機器本體與UR+系統嵌入式各樣應用工具快速整合
                    <br>
                    另外力覺感知器夾爪及視覺2D與3D也是我們主要的服務項目
                    <br>
                    敝公司有目前台灣唯一UR認證講師結合周邊應用商品可提供立即單站式機械工位整機自動化和系統整合的服務！
                </p>
            </div>
            <div class="more_box">
                <a href="#!" class="about_more_btn">more</a>
            </div>
        </div>
        <div class="copyright">
            <ul class="info_box_all">
                <div class="info_box">
                    <ul class="info_content">
                        <li class="info_item">
                            <div class="info_font">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                            03-6586427
                        </li>
                        <li class="info_item">
                            <div class="info_font">
                                <i class="fa-solid fa-fax"></i>
                            </div>
                            03-6585705
                        </li>
                        <li class="info_item">
                            <div class="info_font">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            30286 新竹縣竹北市成功九街73號
                        </li>
                        <li class="info_item">
                            <div class="info_font">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            80253 高雄市苓雅區光華一路206號 20F-1
                        </li>
                        <li class="info_item">
                            <div class="info_font">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            61249 嘉義縣太保市太保一路22號
                        </li>
                        <li class="info_item_mail">
                            <a href="mailto:sales@aba-system.com" class="mail_link">
                                <div class="info_font">
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                                sales@aba-system.com
                            </a>
                        </li>
                    </ul>
                    <ul class="info_link">
                            <a href="https://www.facebook.com/ABAWellSet/" class="fb_link" target="_blank">
                                <i class="fa-brands fa-square-facebook"></i>
                            </a>
                    </ul>
                </div>
                <div class="copyright_box">
                    <a href="https://www.aba-system.com/" class="copyright_logo">
                        <img src="./statics/aba_logo_for_copyright.svg" alt="" class="copyright_logo_pic">
                    </a>
                    <p class="copyright_text">
                        © Copyright 2024. All rights reserved.
                    </p>
                    <a href="#!" class="copyright_author">Designed by Shengyou</a>
                    <a href="https://www.universal-robots.com/" class="UR_link" target="_blank">https://www.universal-robots.com/</a>
                </div>
            </ul>
        </div>
    </footer>
<!-- End Footer -->