<body data-page="index.html">
    <div class="wrapper">
        <!-- start haeder -->
        <header class="header">
             
        </header>
        <!-- end header -->
        <!-- Start Main -->
        <!-- <main></main> -->
        <article>
            <section class="banner_box">
                <ul class="banner_ul">
                    <li class="banner">
                        <img src="~/statics/UR_background.jpg" class="banner_img" alt="">
                    </li>
                </ul>
            </section>
        </article>
        <!-- End Main -->
        
    </div>
</body>
