@{
    ViewData["Title"] = "供應商資料";
}

<style>
        #content {
            width: 100%;
            height: 100vh;            
            padding: 20px;          
            box-sizing: border-box; 
            background-color: #fff; 
            /* border: 1px solid #000;   */
            font-size: 18px;       
        }
</style>

<div id="content">
    供應商資料
</div>